<strong> {{ name }} </strong>
<p>Sua entrega acabou de ser cancelada</p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <br />
  <br />
  <strong>Motivo: </strong> {{ description }}

</p>
