<strong>{{ deliveryman }} </strong>
<p>Existe uma nova entrega, verifique abaixo:</p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <br />
  <br />

</p>
